  <form class="product-form" action="/cart/add" data-productid="{{product.id}}"  method="post"> 
 {% if product.available %}{% include 'subscription-product' %}{% endif %} 

      {% if product.variants.size > 1 %}
        <div class="product-options">
          <select name="id" data-productid="{{product.id}}" id="product-select" class="product-select">
            {% for variant in product.variants %}
              <option {% if variant == selectedVariant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
            {% endfor %}
          </select>
        </div>
      {% else %}
        <input type="hidden" name="id" data-productid="{{product.id}}" class="product-select" value="{{ product.variants[0].id }}" data-variant-title="{{ product.variants[0].title }}" />
      {% endif %}

      <div class="input-wrapper product-quantity">
        <label for="quantity">{{ 'general.quantity' | t }}</label>
        <input type="text" name="quantity" id="quantity" value="1" />
      </div>

      <div class="add-to-cart">
        {% if product.available %}
          <div class="product-form-submit-wrap">
            <input type="submit" value="{{ 'products.product.add_to_cart' | t }}" />
            <div class="add-to-cart-loader"></div>
          </div>
          {% capture cart_link %}
            <a href="/cart">{{ 'products.product.cart_link' | t }}</a>
          {% endcapture %}
          {% capture continue_link %}
            <a href="/collections/all">{{ 'products.product.continue_link' | t }}</a>
          {% endcapture %}
          {% capture checkout_link %}
            <a href="/checkout">{{ 'products.product.checkout_link' | t }}</a>
          {% endcapture %}
          {% capture product_item %}
            <span class='added-product-name'></span>
          {% endcapture %}
          <p class="product-add-success-message">{{ 'products.product.success_html' | t: cart_link: cart_link, continue_link: continue_link, checkout_link: checkout_link, product: product_item  }}</p>
          <p class="product-add-error-message"></p>
        {% else %}
          <input type="button" class="disabled" disabled="disabled" value="{{ 'products.product.sold_out' | t }}" />
        {% endif %}
      </div>

    </form>