<div class="page-width">
  <ul class="title-tabbing">

    <li><a class="tabbing-title-url nav-active" href="#tab-{{section.settings.cus_title1}}">{{section.settings.cus_title1}}</a></li>
    <li><a class="tabbing-title-url" href="#tab-{{section.settings.cus_title2}}">{{section.settings.cus_title2}}</a></li>
    <li><a class="tabbing-title-url" href="#tab-{{section.settings.cus_title3}}">{{section.settings.cus_title3}}</a></li>
    <li><a class="tabbing-title-url" href="#tab-{{section.settings.cus_title4}}">{{section.settings.cus_title4}}</a></li>
    <li><a class="tabbing-title-url" href="#tab-{{section.settings.cus_title5}}">{{section.settings.cus_title5}}</a></li>
    <li><a class="tabbing-title-url" href="#tab-">{{section.settings.cus_title6}}</a></li>

  </ul>

  <div class="cus-block-product-images">

    <div class="cus-block-img-filter active" id="tab-{{section.settings.cus_title1}}">
      <div class="cus-productimg-set">
        {% assign count = 0 %}
        {% for block in section.blocks %}
        {% assign num_count = count | plus: 4 %}
        {% if section.settings.cus_title1 == block.settings.block_title %}
        <div class="filter-image-with-text " data-counter="{{num_count}}">
          <img src="{{block.settings.logo | img_url: 'master' }}" alt="logo" />
          <div class="cus-title-with-btn">
            <div class="cus-title-with-desc">
              <h5>{{block.settings.block_title}}</h5>
              <p>{{block.settings.block_desc}}</p>
            </div>
            <button class="cus-readmore-btn btn">Read More</button>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="showmore-btn-t"> 
      	<button class="cus-showmore-btn btn" disabled="disabled" data-counter data-count-total>Show More</button>
      </div>
    </div>

    <div class="cus-block-img-filter" id="tab-{{section.settings.cus_title2}}">
      <div class="cus-productimg-set">
        {% assign count = 0 %}
        {% for block in section.blocks %}
        {% assign num_count = count | plus: 4 %}
        {% if section.settings.cus_title2 == block.settings.block_title %}
        <div class="filter-image-with-text" data-counter>
          <img src="{{block.settings.logo | img_url: 'master' }}" alt="logo" />
          <div class="cus-title-with-btn">
            <div class="cus-title-with-desc">
              <h5>{{block.settings.block_title}}</h5>
              <p>{{block.settings.block_desc}}</p>
            </div>
            <button class="cus-readmore-btn btn">Read More</button>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="showmore-btn-t">
      	<button class="cus-showmore-btn btn" disabled="disabled" data-counter data-count-total>Show More</button>
      </div>
    </div>

    <div class="cus-block-img-filter" id="tab-{{section.settings.cus_title3}}">
      <div class="cus-productimg-set">
        {% assign count = 0 %}
        {% for block in section.blocks %}
        {% assign num_count = count | plus: 4 %}
        {% if section.settings.cus_title3 == block.settings.block_title %}
        <div class="filter-image-with-text" data-counter>
          <img src="{{block.settings.logo | img_url: 'master' }}" alt="logo" />
          <div class="cus-title-with-btn">
            <div class="cus-title-with-desc">
              <h5>{{block.settings.block_title}}</h5>
              <p>{{block.settings.block_desc}}</p>
            </div>
            <button class="cus-readmore-btn btn">Read More</button>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="showmore-btn-t">
      	<button class="cus-showmore-btn btn" disabled="disabled" data-counter data-count-total>Show More</button>
      </div>
    </div>

    <div class="cus-block-img-filter" id="tab-{{section.settings.cus_title4}}">
      <div class="cus-productimg-set">
        {% assign count = 0 %}
        {% for block in section.blocks %}
        {% assign num_count = count | plus: 4 %}
        {% if section.settings.cus_title4 == block.settings.block_title %}
        <div class="filter-image-with-text" data-counter>
          <img src="{{block.settings.logo | img_url: 'master' }}" alt="logo" />
          <div class="cus-title-with-btn">
            <div class="cus-title-with-desc">
              <h5>{{block.settings.block_title}}</h5>
              <p>{{block.settings.block_desc}}</p>
            </div>
            <button class="cus-readmore-btn btn">Read More</button>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="showmore-btn-t">
      	<button class="cus-showmore-btn btn" disabled="disabled" data-counter data-count-total>Show More</button>
      </div>
    </div>

    <div class="cus-block-img-filter" id="tab-{{section.settings.cus_title5}}">
      <div class="cus-productimg-set">
        {% assign count = 0 %}
        {% for block in section.blocks %}
        {% assign num_count = count | plus: 4 %}
        {% if section.settings.cus_title5 == block.settings.block_title %}
        <div class="filter-image-with-text" data-counter>
          <img src="{{block.settings.logo | img_url: 'master' }}" alt="logo" />
          <div class="cus-title-with-btn">
            <div class="cus-title-with-desc">
              <h5>{{block.settings.block_title}}</h5>
              <p>{{block.settings.block_desc}}</p>
            </div>
            <button class="cus-readmore-btn btn">Read More</button>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="showmore-btn-t">
      	<button class="cus-showmore-btn btn" disabled="disabled" data-counter data-count-total>Show More</button>
      </div>
    </div>

    <div class="cus-block-img-filter" id="tab-">
      <div class="cus-productimg-set">
        {% assign count = 0 %}
        {% for block in section.blocks %}
        {% assign num_count = count | plus: 4 %}
        <div class="filter-image-with-text" data-counter>
          <img src="{{block.settings.logo | img_url: 'master' }}" alt="logo" />
          <div class="cus-title-with-btn">
            <div class="cus-title-with-desc">
              <h5>{{block.settings.block_title}}</h5>
              <p>{{block.settings.block_desc}}</p>
            </div>
            <button class="cus-readmore-btn btn">Read More</button>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="showmore-btn-t">
      	<button class="cus-showmore-btn btn" disabled="disabled" data-counter data-count-total>Show More</button>
      </div>
    </div>

  </div>
</div>




{% schema %}
{
   "name":"tabbing secction block",
   "settings":[
      {
        "type":"text",
        "id":"cus_title1",
        "label":"Title"
      },
	  {
        "type":"text",
        "id":"cus_title2",
        "label":"Title"
      },
	  {
        "type":"text",
        "id":"cus_title3",
        "label":"Title"
      },
	  {
        "type":"text",
        "id":"cus_title4",
        "label":"Title"
      },
	  {
        "type":"text",
        "id":"cus_title5",
        "label":"Title"
      },
	  {
        "type":"text",
        "id":"cus_title6",
        "label":"Title"
      }
   ],
   "blocks":[
      {
         "type":"image",
         "name":"block",
         "settings":[
        	{
              "type": "image_picker",
              "id": "logo",
              "label": "Logo image"
            },
            {
               "type":"text",
               "id":"block_title",
               "label":"Title"
            },
            {
               "type":"textarea",
               "id":"block_desc",
               "label":"Description"
            }
         ]
      }
   ],
   "presets":[
      {
         "name":{
            "en":"tabbing secction block"
         },
         "category":{
            "en":"Custom section"
         }
      }
   ]
}
{% endschema %}
